
<html>
    <head>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
            <link rel="icon" href="https://i.imgur.com/GFtRn4Y.png" type="image/png" sizes="16x16">
            <link rel="icon" href="https://i.imgur.com/GFtRn4Y.png" type="image/png" sizes="32x32">
            <link rel="icon" href="https://i.imgur.com/GFtRn4Y.png" type="image/png" sizes="64x64">
            <link rel="icon" href="https://i.imgur.com/GFtRn4Y.png" type="image/png" sizes="128x128">
            <link rel="icon" href="https://i.imgur.com/GFtRn4Y.png" type="image/png" sizes="256x256">
            <meta property="og:image" content="https://i.imgur.com/GFtRn4Y.png" />
            <meta content="DevMegle" property="og:title">
            <meta content="Szukałeś miejsca dla programistów do pogadania? Lepiej nie mogłeś trafić, DevMegle to serwis" property="og:description">
            <meta content="#5500d3" data-react-helmet="true" name="theme-color">
            <style>
                body {
                    font-family: 'Fira Sans', sans-serif !important; 
                    text-align: center;
                    background-color: #222831 !important;
                    color: white !important;
                }
                .con{
                    color: white !important;
                    margin-top: 10%;
                }
                .btnn {
                    color: white !important;
                    background-color: rgb(98, 0, 255);
                    border: none;
                    padding: 5px 15px;
                    border-radius: 12px;
                    transition: 0.2s all ease-in-out; 
                }
                .btnn:hover {
                    background-color: rgb(85, 0, 221);
                    -webkit-box-shadow: 0px 0px 43px -10px #5500DD; 
                    box-shadow: 0px 0px 43px -10px #5500DD;
                }
                .modal {
                    color: rgb(0, 0, 0);
                    text-align: left;
                }
                .version {
                    position: absolute;
                    bottom: 0%;
                    font-size: 19px;
                    margin-left: 10px;
                    margin-bottom: 5px;
                    font-weight: 100;
                }
                a {
                    color: rgb(15, 139, 255) !important;
                    text-decoration: none !important;
                }
                a:hover {
                    color: rgb(109, 109, 240);
                    text-decoration: none !important;
                }
                nav {
                    top: 0;
                    text-align: center;
                    background-color: rgb(255, 105, 86);
                    padding-top: 0px;
                    padding-bottom: 0px;
                }
                .container {
                    font-family: 'Fira Sans', sans-serif !important; 
                    margin-top: 9%;
                }
            </style>
            <title>DevMegle - Error</title>
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
            <link rel="preconnect" href="https://fonts.gstatic.com">
            <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <img src="https://i.imgur.com/7nu4zgi.png" width="712px">
            <h1 style=" font-family: 'Fira Sans', sans-serif !important; ">Hmmm... Nie znaleziono strony której szukasz albo ktoś ją zjadł</h1>
            <span>Błąd 404</span>
        </div>
          <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>